<!DOCTYPE html>
<html>
<head>
  <title>Cocktail Batching</title>
  <meta charset="utf-8" />
  <!-- Optional theme -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body class="<%=controller_name%> <%=action_name%>">

<%if current_user %>
  <%= link_to 'Home', root_path %> | <%= link_to current_user.email, {controller: 'recipes', action: 'index', user_id: current_user.id } %> | <%= link_to "Logout", '/logout' %>
<%else%>
  <%= link_to 'Home', root_path %> | <%= link_to 'Login', '/login'%> | <%= link_to 'Sign Up', '/signup'%>
<%end%>

<%= yield %>

</body>
</html>
