<!DOCTYPE html>
<html>
<head>
  <title>Cocktail Batching</title>
  <meta charset="utf-8" />
  <!-- Optional theme -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%if current_user %>
  Welcome <%= link_to current_user.email, 'users#show' %> | <%= link_to "Logout", '/logout' %>
<%else%>
  <%= link_to 'Login', '/login'%> | <%= link_to 'Sign Up', '/signup'%>
<%end%>

<%= yield %>

</body>
</html>
